@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    font-family: var(--font-body);
    background-color: var(--c-dark);
    color: var(--c-light);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    cursor: none;
    /* Custom cursor will be added */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#root {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Utility Classes */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen {
    width: 100vw;
    height: 100vh;
}